@import url('https://fonts.googleapis.com/css2?family=Katibeh&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Aleo:wght@300&family=Katibeh&display=swap');

html{
    scroll-behavior: smooth;
}

h1{
    font-family: 'Katibeh', cursive;
    font-size: 120px;
    margin-left:1%;
    color:rgb(0, 0, 0);
}


body{
    background-image: url("../Imagenes/fondo.jpg");
    
}

header{
    width:100%;
}

nav a, form{
    padding:.4%;
}

.carrousel{
    background-color: rgb(140, 141, 140);
}

article{
    background-color: rgb(255, 255, 255);
    width:100%;
}

section{
    text-align: center;
    width:100%;
}

nav{
    display: flex;
    margin-top: -140px;
    justify-content: flex-end;
    background-color: rgb(255, 255, 255);
}

a, h4, h3, h2, input::placeholder{
    font-family: 'Aleo', serif;
}

h2{
    text-align: center;
}

footer{
    display:flex;
    justify-content: center;
    background-color: rgb(140, 141, 140);
    width:100%;
}

footer div{
    padding:2%;
}


footer a:hover{
    color:rgb(0, 0, 0);
    cursor:pointer;
}

a{
    cursor:pointer;
}

a img{
    width: 400px;
    height: 500px;
    border: rgb(0, 0, 0);
    box-shadow: 5px 2px 6px 5px rgb(140, 141, 140);
    cursor:pointer;
}

a:hover{
    color:rgb(140, 141, 140);
}

a img:hover{
    animation: achicarse 1s forwards;
}

img{
    width: 99.9%;
    height: 400px;
    object-fit: cover;
}

.nuevoNav button{
    background-color: rgb(255, 255, 255);
}

.fa-list, .fa-search{
    color:rgb(0, 0, 0);
    background-color: rgb(255, 255, 255);
    font-size: 30px;
    padding:.2%;
}

.nuevoNav, .Resnavegador{
    display:none;
    background-color: rgb(255, 255, 255);
}

.Resnavegador{
    background-color: rgb(255, 255, 255);
    flex-direction:column;
}

.menuVista{
    display:flex;
}




@keyframes achicarse{
    from{
        width: 400px;
        height: 500px;
    }
    to{
        width: 350px;
        height: 450px;
    }
}

@media(max-width: 1100px){
    h1{
        font-size: 115px;
    }
    img{
        width: 98%;
        height: 400px;
        object-fit: cover;
    }
    .nuevoNav{
        display:block;
    }
    .navegador{
        display:none;
    }
}

@media(max-width: 290px){
    h1{
        font-size: 90px
    }

    footer{
        display:block;
    }
}
